node_modules
.env
.vs/FinSol/v17/.wsuo
.vs/FinSol/FileContentIndex/03c1682a-e42b-43d6-9c61-90370c56fcb4.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FinSol/CopilotIndices/0.2.1671.27212/CodeChunks.db
.vs/FinSol/CopilotIndices/0.2.1671.27212/SemanticSymbols.db
.vs/FinSol/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-shm
.vs/FinSol/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-wal
.vs/FinSol/v17/DocumentLayout.backup.json
.vs/FinSol/v17/DocumentLayout.json
